<main class="main">

  <section class="main_img_section">
    <div class="main_img_container">
      <picture>
        <source media="(max-width: 767px)" srcset="../../../assets/images/about-hero-mobile.jpg">
        <source media="(max-width: 1199px)" srcset="../../../assets/images/about-hero-tablet.jpg">
        <source media="(min-width: 1200px)" srcset="../../../assets/images/about-hero-desktop.jpg">
        <img src="../../../assets/images/about-hero-mobile.jpg" alt="street" class="main_image">
      </picture>
    </div>

    <h1 class="main_img_section_title">
      About
    </h1>

    <div class="whiteCircles-container">
      <img src="../../../assets/patterns/white-circles.svg" alt="" class="whiteCircles">
    </div>
  </section>

  <section class="characteristics_section">
    <ul class="characteristics_list">
      <li class="characteristic">
        <div class="characteristic_img_container">
          <img src="../../../assets/images/digital-era.jpg" alt="" class="characteristic_img">
          <div class="arrow_div">
            <img src="../../../assets/patterns/left-upward-arrow.svg" alt="" class="arrow">
          </div>
        </div>
        <article class="characteristic_info">
          <h2 class="characteristic_title">
            Mobility for the digital era
          </h2>
          <p class="characteristic_description">
            Getting around should be simple (and even fun!) for everyone. We embrace technology to provide low cost, smart access to scooters at your fingertips.
          </p>
        </article>
        <div class="ball_div">
          <img src="../../../assets/patterns/circle.svg" alt="" class="ball">
        </div>
      </li>
      <li class="characteristic">
        <div class="characteristic_img_container">
          <img src="../../../assets/images/better-living.jpg" alt="" class="characteristic_img">
          <div class="arrow_div">
            <img src="../../../assets/patterns/right-arrow.svg" alt="" class="arrow">
          </div>
        </div>
        <article class="characteristic_info">
          <h2 class="characteristic_title">
            Better urban living
          </h2>
          <p class="characteristic_description">
            We’re helping connect cities and bring people closer together. Our scooters are also fully-electric and we offset the minimal carbon footprint for each ride.
          </p>
        </article>
        <div class="ball_div">
          <img src="../../../assets/patterns/circle.svg" alt="" class="ball">
        </div>
      </li>
    </ul>
  </section>

  <section class="values_section">
    <h2 class="values_section_title">
      Our values
    </h2>
    <ul class="values_list">
      <li class="value" *ngFor="let value of values">

        <div class="value_img_container">
          <img [src]="value.img" alt="" class="value_img">
          <div class="number">
            {{value.number}}
          </div>
        </div>

        <article class="value_info">
          <h3 class="value_title">
            {{value.title}}
          </h3>
          <p class="value_description">
            {{value.description}}
          </p>
        </article>

      </li>
    </ul>
  </section>
</main>
