<main class="main">

  <section class="main_img_section">
    <div class="main_img_container">
      <picture>
        <source media="(max-width: 767px)" srcset="../../../assets/images/careers-location-hero-mobile.jpg">
        <source media="(max-width: 1199px)" srcset="../../../assets/images/careers-locations-hero-tablet.jpg">
        <source media="(min-width: 1200px)" srcset="../../../assets/images/careers-locations-hero-desktop.jpg">
        <img src="../../../assets/images/careers-locations-hero-mobile.jpg" alt="street" class="main_image">
      </picture>
    </div>

    <h1 class="main_img_section_title">
      Careers
    </h1>

    <div class="whiteCircles-container">
      <img src="../../../assets/patterns/white-circles.svg" alt="" class="whiteCircles">
    </div>
  </section>
</main>
