<main class="main">

  <section class="main_img_section">
    <div class="main_img_container">
      <picture>
        <source media="(max-width: 767px)" srcset="../../../assets/images/careers-location-hero-mobile.jpg">
        <source media="(max-width: 1199px)" srcset="../../../assets/images/careers-locations-hero-tablet.jpg">
        <source media="(min-width: 1200px)" srcset="../../../assets/images/careers-locations-hero-desktop.jpg">
        <img src="../../../assets/images/careers-locations-hero-mobile.jpg" alt="street" class="main_image">
      </picture>
    </div>

    <h1 class="main_img_section_title">
      Careers
    </h1>

    <div class="whiteCircles-container">
      <img src="../../../assets/patterns/white-circles.svg" alt="" class="whiteCircles">
    </div>
  </section>

  <section class="mission_section">
    <div class="mission_img_container">
      <img src="../../../assets/images/join-us.jpg" alt="" class="mission_img">
      <div class="arrow_div">
        <img src="../../../assets/patterns/left-downward-arrow.svg" alt="" class="arrow">
      </div>
    </div>
    <article class="mission_info">
      <h2 class="mission_title">
        Care to join our mission?
      </h2>
      <p class="mission_description">
        We’re always looking for ambitious individuals to help us on our journey. If you’repassionateabout our mission to provide clean, accessible transport to improve urban livingwe want tohear from you!
      </p>
      <button class="yellow_button">
        Say Hello
      </button>
    </article>
    <div class="ball_div">
      <img src="../../../assets/patterns/circle.svg" alt="" class="ball">
    </div>
  </section>

  <section class="joinUs_section">
    <h2 class="joinUs_section_title">
      Why join us?
    </h2>
    <ul class="reasons_list">
      <li class="reason" *ngFor="let reason of reasons">

        <div class="reason_img_container">
          <img [src]="reason.img" alt="" class="reason_img">
          <div class="number">
            {{reason.number}}
          </div>
        </div>

        <article class="reason_info">
          <h3 class="reason_title">
            {{reason.title}}
          </h3>
          <p class="reason_description">
            {{reason.description}}
          </p>
        </article>

      </li>
    </ul>
  </section>

  <section class="jobs_section">
    <ul class="jobs_list">
      <li class="job" *ngFor="let job of jobs">
        <article class="job_info">
          <h4 class="job_title">
            {{job.title}}
          </h4>
          <p class="place">
            {{job.place}}
          </p>
        </article>

        <button class="yellow_button">
          Apply
        </button>
      </li>
    </ul>
  </section>
</main>
