<main class="main">
  <section class="locations_banner_section">
    <div class="locations_banner_container">
      <picture>
        <source media="(max-width: 767px)" srcset="../../../assets/images/careers-location-hero-mobile.jpg">
        <source media="(max-width: 1199px)" srcset="../../../assets/images/careers-locations-hero-tablet.jpg">
        <source media="(min-width: 1200px)" srcset="../../../assets/images/careers-locations-hero-desktop.jpg">
        <img src="../../../assets/images/careers-locations-hero-mobile.jpg" alt="street" class="locations_banner_img">
      </picture>
    </div>

    <h1 class="banner_title">
      Locations
    </h1>

    <div class="whiteCircles-container">
      <img src="../../../assets/patterns/white-circles.svg" alt="" class="whiteCircles">
    </div>
  </section>

  <section class="locations_section">
    <div class="map_container">
      <picture>
        <source media="(max-width: 767px)" srcset="../../../assets/images/world-map-mobile.png">
        <source media="(min-width: 768px)" srcset="../../../assets/images/map-with-locations.svg">
        <img src="../../../assets/images/world-map-mobile.png" alt="Map with our locations" class="map_img">
      </picture>
    </div>

    <ul class="locations_list">
      <li class="location">
        New York
      </li>
      <li class="location">
        London
      </li>
      <li class="location">
        Jakarta
      </li>
      <li class="location">
        Yokohama
      </li>
    </ul>

    <article class="location_texts">
      <h1 class="location_texts_title">
        Your City Not Listed?
      </h1>
      <p class="location_texts_description">
        If you’d like to see Scoot in your hometown, be sure to let us know. We track requests and plan launches based on demand. Feel free to message us by clicking the link or messaging us on social.
      </p>
      <button class="yellow_button">
        Message Us
      </button>
    </article>
  </section>
</main>
