
<main class="main">

  <section class="main_img_section">

    <div class="img_container">
      <picture>
        <source media="(max-width: 767px)" srcset="../../../assets/images/home-hero-mobile.jpg">
        <source media="(max-width: 1199px)" srcset="../../../assets/images/home-hero-tablet.jpg">
        <source media="(min-width: 1200px)" srcset="../../../assets/images/home-hero-desktop.jpg">
        <img src="../../../assets/images/home-hero-mobile.jpg" alt="scooter" class="image">
      </picture>
    </div>

    <article class="main_img_section-content">

      <h1 class="main_img_section-title">
        Scooter sharing made simple
      </h1>
      <p class="main_img_section-description">
        Scoot takes the hassle out of urban mobility. Our bikes are placed in convenient
        locations in each of our cities. Use our app to locate the nearest bike, unlock
        it with a tap, and you’re away!
      </p>
      <button class="yellow_button">
        Get Scootin
      </button>

    </article>

    <div class="rightArrow-container">
      <img src="../../../assets/patterns/right-arrow.svg" alt="" class="rightArrow">
    </div>

    <div class="whiteCircles-container">
      <img src="../../../assets/patterns/white-circles.svg" alt="" class="whiteCircles">
    </div>

    <div class="line-container">
      <img src="../../../assets/patterns/line.svg" alt="" class="line">
    </div>

  </section>

  <section class="steps_section">
    <ul class="steps_list">
      <li class="step" *ngFor="let step of steps">
        <img [src]="step.iconSrc" alt="" class="step_icon">
        <article class="step_info">
          <h2 class="step_title">
            {{step.title}}
          </h2>
          <p class="step_description">
            {{step.description}}
          </p>
        </article>
      </li>
    </ul>
    <div class="greyLine"></div>
  </section>

</main>
