.faqs_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 9rem;
}

.faqs_section_title{
  font-size: 2rem;
  font-family: var(--space-mono);
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.43px;
  color: var(--dark-navy);
}

.faqs_categories_list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.faqs_categories_list .faqs_category{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.faqs_categories_list .faqs_category .question_subject{
  font-size: 1.5rem;
  font-family: var(--space-mono);
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.07px;
  color: var(--dark-navy);
}

.faqs_categories_list .faqs_category .faqs_questions_lists{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.faqs_categories_list .faqs_category .faqs_questions_lists .question_li{
  width: 311px;
  position: relative;
  background-color: var(--light-grey);
  padding: 1.8rem;
}

.faqs_categories_list .faqs_category .faqs_questions_lists .question_li .faqs_texts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.faqs_categories_list .faqs_category .faqs_questions_lists .question_li.questionOpened .faqs_texts{
  gap: 1.5rem
}

.faqs_categories_list .faqs_category .faqs_questions_lists .question_li .faqs_texts .faqs_question{
  width: 219px;
  font-size: 1.125rem;
  font-family: var(--space-mono);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -.8px;
  color: var(--dark-navy);
}

.faqs_categories_list .faqs_category .faqs_questions_lists .question_li .faqs_texts .faqs_answer{
  font-size: .9375rem;
  font-family: var(--lexend-deca);
  font-weight: 400;
  line-height: 25px;
  color: var(--dark-navy);
  height: 0;
  visibility: hidden;
}

.faqs_categories_list .faqs_category .faqs_questions_lists .question_li.questionOpened .faqs_texts .faqs_answer{
  height: auto;
  visibility: visible;
}

.faqs_categories_list .faqs_category .faqs_questions_lists .question_li .chevron_container{
  position: absolute;
  top: 40px;
  right: 20px;
}

.faqs_categories_list .faqs_category .faqs_questions_lists .question_li .chevron_container .chevron{
  transition: .3s;
}

.faqs_categories_list .faqs_category .faqs_questions_lists .question_li.questionOpened .chevron_container .chevron{
  rotate: 180deg;
}

@media(min-width: 768px){

  .faqs_section_title{
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -2.14px;
  }

  .faqs_categories_list{
    gap: 3.5rem;
  }

  .faqs_categories_list .faqs_category .question_subject{
    font-size: 2.5rem;
    line-height: 48px;
    letter-spacing: -1.79px;
  }

  .faqs_categories_list .faqs_category .faqs_questions_lists{
    gap: 1.5rem;
  }

  .faqs_categories_list .faqs_category .faqs_questions_lists .question_li{
    width: 689px;
    padding: 1.8rem 2.5rem;
  }

  .faqs_categories_list .faqs_category .faqs_questions_lists .question_li .faqs_texts .faqs_question{
    width: 465px;
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: -1.07px;
  }

  .faqs_categories_list .faqs_category .faqs_questions_lists .question_li .chevron_container{
    top: 35px;
    right: 30px;
  }
}

@media(min-width: 1200px){

  .faqs_section{
    gap: 4.3rem;
  }

  .faqs_categories_list{
    gap: 4rem;
  }

  .faqs_categories_list .faqs_category{
    width: 1110px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .faqs_categories_list .faqs_category .faqs_questions_lists .question_li{
    width: 730px;
    padding: 1.8rem 2.5rem;
    transition: .2s;
    cursor: pointer;
  }

  .faqs_categories_list .faqs_category .faqs_questions_lists .question_li:hover{
    background-color: var(--light-yellow);
  }
}
