*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

html, body{
  height: 100vh;
  background-color: var(--light-cream);
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

:root{
  --black: hsl(0, 0%, 0%);
  --white: hsl(0,100%,100%);
  --yellow: hsl(40, 97%, 58%);
  --super-dark-blue: #333A44;
  --dark-navy: hsl(216, 17%, 35%);
  --dark-cyan-blue: #333A44;
  --dim-grey: hsl(217, 12%, 62%);
  --light-grey: hsl(212, 41%, 93%);
  --snow: hsl(214, 37%, 96%);
  --light-yellow: hsl(39, 100%, 94%);
  --lexend-deca: 'Lexend Deca', sans-serif;
  --space-mono:'Space Mono', monospace;
}
