.benefits_section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.benefits_list{
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.benefits_list .benefit{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.benefits_list .benefit .img_container{
  width: 311px;
  height: 311px;
  position: relative;
}

.benefits_list .benefit .img_container .benefit_img{
  width: 100%;
  border-radius: 100%;
}

.benefits_list .benefit .benefit_info{
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.benefits_list .benefit .benefit_info .benefit_title{
  font-size: 2rem;
  font-family: var(--space-mono);
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.43px;
  color: var(--dark-navy);
}

.benefits_list .benefit .benefit_info .benefit_description{
  font-size: .9375rem;
  font-family: var(--lexend-deca);
  font-weight: 400;
  line-height: 25px;
  color: var(--dim-grey);
}

.benefits_list .benefit .benefit_info .yellow_button{
  width: 180px;
  height: 53px;
  font-size: .9375rem;
  font-family: var(--space-mono);
  font-weight: 700;
  line-height: 25px;
  border: none;
  background-color: var(--yellow);
  color: var(--white);
}

.benefits_list .benefit:first-child .img_container .arrow_div{
  display: block;
  position: absolute;
  width: 340px;
  height: 148px;
  top: 53%;
  right: -32px;
}

.benefits_list .benefit:first-child .img_container .arrow_div .arrow{
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: left;
}

.benefits_list .benefit:nth-child(even) .img_container .arrow_div{
  position: absolute;
  width: 250px;
  height: 148px;
  top: 0%;
  left: -32px;
}

.benefits_list .benefit:nth-child(even) .img_container .arrow_div .arrow{
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: right;
}

.benefits_list .benefit:nth-child(odd):not(:first-child) .img_container .arrow_div{
  position: absolute;
  width: 250px;
  height: 148px;
  top: 0%;
  right: -32px;
}

.benefits_list .benefit:nth-child(odd):not(:first-child) .img_container .arrow_div .arrow{
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: left;
}

.benefits_list .benefit .ball_div{
  display: none;
}

@media(min-width:768px){

  .benefits_section{
    margin-top: 9rem;
  }

  .benefits_list{
    width: 100%;
    gap: 8rem;
  }

  .benefits_list .benefit{
    gap: 4rem;
    position: relative;
  }

  .benefits_list .benefit .img_container{
    width: 445px;
    height: 445px;
  }

  .benefits_list .benefit .benefit_info{
    width: 573px;
    gap: 3rem;
  }

  .benefits_list .benefit .benefit_info .benefit_title{
    width: 457px;
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -2.14px;
  }

  .benefits_list .benefit:first-child .img_container .arrow_div{
    width: 734px;
    top: 68%;
    right: -161px;
  }

  .benefits_list .benefit:nth-child(odd) .ball_div{
    width: 87px;
    height: 445px;
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  .benefits_list .benefit:nth-child(odd) .ball_div .ball{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: left;
  }

  .benefits_list .benefit:nth-child(even) .img_container .arrow_div{
    width: 370px;
  }

  .benefits_list .benefit:nth-child(even) .ball_div{
    width: 445px;
    height: 445px;
    display: block;
    position: absolute;
    left: -358px;
    z-index: -1;
  }

  .benefits_list .benefit:nth-child(even) .ball_div .ball{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: left;
  }

  .benefits_list .benefit:nth-child(odd):not(:first-child) .img_container .arrow_div{
    width: 370px;
    top: 9%;
  }
}

@media(min-width: 1200px){

  .benefits_list{
    gap: 10rem;
  }

  .benefits_list .benefit:nth-child(odd){
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5rem;
  }

  .benefits_list .benefit:nth-child(even){
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }

  .benefits_list .benefit .benefit_info{
    width: 445px;
    align-items: flex-start;
    gap: 3rem;
    text-align: start;
  }

  .benefits_list .benefit .benefit_info .benefit_title{
    width: 445px;
  }

  .benefits_list .benefit:first-child .img_container .arrow_div{
    right: -115px;
  }

  .benefits_list .benefit:nth-child(even) .img_container .arrow_div{
    width: 340px;
    left: -145px;
  }

  .benefits_list .benefit:nth-child(odd):not(:first-child) .img_container .arrow_div{
    width: 340px;
    top: 16%;
    right: -115px;
  }
}

@media(min-width: 1440px){

  .benefits_list .benefit:nth-child(odd){
    gap: 15rem;
  }

  .benefits_list .benefit:nth-child(even){
    gap: 15rem;
  }

  .benefits_list .benefit:first-child .img_container .arrow_div{
    right: -155px;
  }

  .benefits_list .benefit:nth-child(even) .img_container .arrow_div{
    width: 345px;
    left: -155px;
  }

  .benefits_list .benefit:nth-child(odd):not(:first-child) .img_container .arrow_div{
    width: 355px;
    top: 16%;
    right: -155px;
  }
}


