.main_img_section{
  position: relative;
}

.img_container,
.img_container picture{
  width: 100%;
  height: 650px;
}

.img_container picture .image{
  width: 100%;
  height: 100%;
  display: block;
  object-fit:cover;
  object-position: center;
}

.main_img_section-content{
  position: absolute;
  top: 15%;
  left: 50%;
  translate: -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  text-align: center;
  z-index: 1;
}

.main_img_section-content .main_img_section-title{
  width: 311px;
  font-family: var(--space-mono);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.79px;
  color: var(--white);
}

.main_img_section-content .main_img_section-description{
  width: 311px;
  font-family: var(--lexend-deca);
  font-size: .9375rem;
  font-weight: 400;
  line-height: 25px;
  color: var(--white);
}

.main_img_section-content .yellow_button{
  width: 180px;
  height: 53px;
  position: relative;
  border: none;
  font-size: .9375rem;
  font-family: var(--space-mono);
  font-weight: 700;
  line-height: 25px;
  background-color: transparent;
  border: 3px solid var(--yellow);
  color: var(--white);
  margin-top: 1.5rem;
  z-index: 1;
}

.main_img_section-content .yellow_button::after{
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--yellow);
  z-index: -1;
  transition: .3s;
}

.rightArrow-container{
  width: 446px;
  position: absolute;
  right: 63%;
  bottom: 5%;
}

.rightArrow-container .rightArrow{
  width: 100%;
  height: 100%;
}

.whiteCircles-container{
  display: none;
}

.line-container{
  display: none;
}

@media(min-width: 768px){

  .main_img_section-content{
    top: 25%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    text-align: center;
  }

  .main_img_section-content .main_img_section-title{
    width: 573px;
    font-size: 3.5rem;
    line-height: 56px;
    letter-spacing: -2.5px;
  }

  .main_img_section-content .main_img_section-description{
    width: 573px;
    line-height: 25px;
  }

  .main_img_section-content .yellow_button{
    align-self: flex-start;
    margin-top: .2rem;
    margin-left: 6rem;
  }

  .rightArrow-container{
    right: 59%;
    bottom: 5%;
  }

  .whiteCircles-container{
    width: 204px;
    height: 65px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 7%;
  }

  .whiteCircles-container .whiteCircles{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: center left;
  }

}

@media(min-width: 1200px){

  .main_img_section-content{
    top: 22%;
    left: 35%;
    align-items: flex-end;
    gap: 2.5rem;
    text-align: start;
  }

  .main_img_section-content .main_img_section-title{
    width: 500px;
  }

  .main_img_section-content .main_img_section-description{
    width: 405px;
  }

  .main_img_section-content .yellow_button{
    cursor: pointer;
    transition: .3s;
  }

  .main_img_section-content .yellow_button:hover{
    color: var(--yellow);
  }

  .main_img_section-content .yellow_button:hover::after{
    height: 0;
    background-color: var(--yellow);
  }

  .line-container{
    display: block;
    position: absolute;
    bottom: 44%;
    left: 0;
  }

  .line-container .line{
    width: 100%;
    height: 100%;
  }

  .rightArrow-container{
    width: 320px;
    height: 149px;
    left: 56%;
    bottom: 24%;
  }

  .rightArrow-container .rightArrow{
    object-fit: none;
    object-position: right;
  }

  .whiteCircles-container{
    width: 190px;
    bottom: 26%;
  }
}

@media(min-width: 1440px){

  .rightArrow-container{
    width: 446px;
    left: 54%;
  }

  .rightArrow-container .rightArrow{
    object-position: initial;
  }
}

