
.mission_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  transition: .3s;
}

.img_container{
  width: 311px;
  height: 311px;
  position: relative;
  transition: .3s;
}

.img_container .mission_img{
  width: 100%;
  border-radius: 100%;
}
